body {
  background-color: #161717;
  margin: 10px;
  border: none;
  vertical-align: top;
}
h1 {
  color: #F3F3F3;
  text-decoration: none;
}
h2 {
  color: #F3F3F3;
  text-decoration: none;
  display: none;
}
h3 {
  color: #F3F3F3;
  text-decoration: none;
  font-size: 20px;
}
a {
  color: #F3F3F3;
  text-decoration: none;
  padding-left: 6%;
}
h4 {
  color: #F3F3F3;
  text-decoration: none;
}
p {
  color: #8A8B8B;
}
img {
  color: #8A8B8B;
  width: 2rem;
}
small {
  color: #8A8B8B;
}
.button-icone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li{
  list-style-type: none;
  display: flex;
}

.Flex_Cadre{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-arrow {
  transition-duration: 400ms;
}

.Flex_Cadre:hover .button-arrow {
  transform: rotate(90deg);
}

.Flex_Cadre:hover img {
  filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(335deg) brightness(150%) contrast(108%);
}

.Flex_Button{
  display: flex;
  justify-content: start;
  align-items: center;
}

.icones {
  align-self: center;
  height: 35px;
}

.fleche {
  height: 25px;
}

.simone-img {
  width: 100%;
}
.simone {
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  >h1 {
    margin-left: 10%;
  }
}
.meter {
  width: 9%;
  height: 20px;
}
.fleche {
  position: absolute;
  right: 5%;
}
.bloc {
  >.info {
    position: absolute;
    right: 5%;
    top: 2%;
  }
}
.graph {
  padding: 10%;
}
.infos-stats {
  display: flex;
  flex-wrap: wrap;
}

#bloc1 {
  background-color: #212223;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0%;
  width: 100%;
}

.bloc-voiture {
  display: flex;
  justify-content: center;
}

.titre-3 {
  width: 100%;
}

li.infos {
  width: 50%;
}


#stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

.titre-4 {
  color: #8A8B8B;
  font-size: 16px;
}
.sup {
  color: #fff;
  font-size: 25px;
}
#bloc2 {
    background-color: #212223;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;
    width: 100%;
  }

footer hr {
  /* top | right | bottom | left */
  margin: 1.5rem 2.5rem 1rem 2.5rem;
  border-top: 3px solid white;
}

footer img {
  display: flex;
  margin: auto;
  margin-bottom: 2rem;

  width: 25%;
  height: 100%;
}