<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="../assets/css/style.scss" rel="stylesheet">

  <title> Accueil Simone </title>
</head>

<body>
  <header class="menu sticky">
    <h1>Simon</h1>
    <nav>
      <a href="#"><img src="../assets/images/user.png" alt="icone user"></a>
    </nav>
  </header>
  <section class="fixed">
    <h2>Batterie</h2>
    <p>
      <small><meter class=" meter" min="0" max="100" value="71"> </meter></small>71%<br>
      Stationnée
    </p>
  </section>
  <div class="bloc-gauche">

    <section class="fixed">
      <h2>Bloc Principal Image et Bouton</h2>
      <section class="bloc-voiture">
        <h2>Image de la voiture</h2>
        <p class="simone"><img class="simone-img" src="../assets/images/voiture.png" alt="image voiture"></p>
      </section>
    </section>

    <section>
      <section class="button-icone">
        <h2>Icônes contrôles de la voiture</h2>
        <button><img src="../assets/images/connexion.png" alt="icone connexion"></button>
        <button><img src="../assets/images/ventillation.png" alt="icone ventilation"></button>
        <button><img src="../assets/images/recharger.png" alt="icone energie"></button>
        <button><img src="../assets/images/coffre.png" alt="icone coffre"></button>
      </section>
    </section>

  </div>


  <section class="nav scroll">
    <h2>Navigation des options de la voiture</h2>
    <nav>
      <ul>
        <!-- Contrôles -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/controle.png" height="28%" width="28%">
              <a href="#">
                <h3>Contrôles</h3>
              </a>
            </section>
            <img class="button-arrow" src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

        <!-- Ventilation -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/ventillation.png" height="28%" width="28%">
              <a href="#">
                <h3>Ventilation</h3>
                <p>Intérieur 23°C</p>
              </a>
            </section>
            <img src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

        <!-- Position -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/position.png" height="28%" width="28%">
              <a href="#">
                <h3>Position</h3>
                <p>13 Rue Paul Guigou</p>
              </a>
            </section>
            <img src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

        <!-- Planifier -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/planifier.png" height="28%" width="28%">
              <a href="#">
                <h3>Planifier</h3>
              </a>
            </section>
            <img src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

        <!-- Sécurité et conducteurs -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/securite.png" height="28%" width="28%">
              <a href="#">
                <h3>Sécurité et conducteurs</h3>
                <p>iMoi - Connectée</p>
              </a>
            </section>
            <img src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

        <!-- Stats recharge -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/stat.png" height="28%" width="28%">
              <a href="stats_recharge.html">
                <h3>Stats recharge</h3>
              </a>
            </section>
            <img src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

        <!-- Mises à niveau -->
        <li>
          <button id="Flex_Cadre">
            <section id="Flex_Button">
              <img src="../assets/images/niveau.png" height="28%" width="28%">
              <a href="#">
                <h3>Stats recharge</h3>
              </a>
            </section>
            <img src="../assets/images/suivant.png" height="30px">
          </button>
        </li>

      </ul>
    </nav>
  </section>

  <footer>
    <hr>
    <img src="../assets/images/model3-logo.png" alt="Model3 Title">
  </footer>
</body>

</html>