<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!--       <link href="./assets/css/style.scss" rel="stylesheet"> -->
  <link href="./assets/css/index.css" rel="stylesheet">
  <script src="./assets/js/index.js"></script>
  <title>Accueil</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<header class="menu sticky mx-4">
  <h1>Simone</h1>
  <section class="User_Zone mx-3" >

    <!-- Panneau User -->
    <section class="Abs_User" id="User_Aff" hidden>
      <section class="User">
        <section class="User_Name">
          <p>Envoiture</p>
          <p>Simone</p>
        </section>
        <p>Envoiture.Simon@gmail.com</p>
      </section>
      <section class="Zone">
        <section class="Zone_Button">
          <button class="Deconnexion">
            <p>Deconnexion</p>
          </button>
          <button class="MotDePasse">
            <p>Changer le mot de passe</p>
          </button>
        </section>
        <textarea class="Token_edit" placeholder="Token"></textarea>
      </section>
    </section>

    <nav>
      <!-- href="connexion.php" -->
      <a onclick="UserOnClick()"><img id="User_button" src="./assets/images/user.png" alt="icone user"></a>
    </nav>
  </section>
</header>
<section class="fixed mx-4">
  <section class="flex_batterie">
    <meter class="meter" min="0" max="100" value="71"></meter>
    <p>71%</p>
  </section>
  <p>Stationnée</p>
</section>
<div class="bloc-gauche">

  <section class="fixed">
    <h2 class="h2_title_none">Bloc Principal Image et Bouton</h2>
    <section class="bloc-voiture">
      <h2 class="h2_title_none">Image de la voiture</h2>
      <div class="simone">
        <img id="simone" class="simone-img" src="./assets/images/tesla.png" alt="image voiture">
      </div>
    </section>

    <!-- Panneau Electricite -->
    <section class="Abs_Elec" id="Elec_Aff" hidden>
      <p id="limiteCharge">Limite charge: 100%</p>
      <progress min="0" max="100" value="71" width="50%"></progress>
      <p id="kWh">24 kWh ajoutés durant la dernière recharge</p>
      <section class="Bord_Ampere">
        <button id="LeftButton" class="ArrowButton" onclick="LeftButtonOnClick()">
          &lt</button>
        <p id="number">16 A</p>
        <button id="RightButton" class="ArrowButton" onclick="RightButtonOnClick()">
      </section>
    </section>
  </section>

  <section>
    <section class="button-icone">
      <h2 class="h2_title_none">Icônes contrôles de la voiture</h2>
      <button onclick="ConnexionOnClick()"><img id="ConnexionButton" srcset="./assets/images/Connexion.png"
                                                alt="icone connexion"></button>
      <button onclick="FanOnClick()"><img id="FanButton" srcset="./assets/images/Fan.png"
                                          alt="icone ventilation"></button>
      <button onclick="ElecOnClick()"><img id="ElecBouton" srcset="./assets/images/Thunder.png"
                                           alt="icone energie"></button>
      <button onclick="ChestOnClick()"><img id="ChestButton" srcset=" ./assets/images/coffre.png" alt="icone coffre"></button>
    </section>
  </section>
</div>

<section class="nav scroll">
  <h2>Navigation des options de la voiture</h2>
  <nav>
    <ul>
      <!-- Contrôles -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/control.php";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/controle.png" alt="Navigation Controle" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Contrôles</h3>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

      <!-- Ventilation -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/fan.php";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/Fan.png" alt="Navigation Ventilation" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Ventilation</h3>
              <section class="FanText">
                <p id="OnText" style="color: #FFFFFF;" hidden>Active </p>
                <p id="InText">Interieur 23°C</p>
              </section>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

      <!-- Position -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/position.php";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/position.png" alt="Navigation Position" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Position</h3>
              <p id="address"></p>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>
      <script>
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          console.log("Geolocation is not supported by this browser.");
        }

        function showPosition(position) {
          let lat = position.coords.latitude;
          let lon = position.coords.longitude;

          let url = "https://nominatim.openstreetmap.org/reverse?format=json&lat=" + lat + "&lon=" + lon;

          $.getJSON(url, function(data) {
            let address = data.address.road + ", " + data.address.city + ", " + data.address.country;
            $("#address").text(address);
          });
        }
      </script>

      <!-- Planifier -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/planning.php";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/planifier.png" alt="Navigation Planifier" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Planifier</h3>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

      <!-- Sécurité et conducteurs -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/#";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/securite.png" alt="Navigation Sécurité et Conducteurs" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Sécurité et conducteurs</h3>
              <section class="FanText">
                <img id="littleRedConnexion" srcset="./assets/images/ConnexionRed.png" alt="" style="width: 20px;"
                     hidden>
                <p>iMoi - Connectée</p>
              </section>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

      <!-- Stats recharge -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/stats_reload.php";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/statsrecharge.png" alt="Navigation Stats" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Stats recharge</h3>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

      <!-- Mises à niveau -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/#";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/miseaniveau.png" alt="Navigation Mise à niveau" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Mise à niveau</h3>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

      <!-- Service -->
      <li>
        <button class="Flex_Button" onClick='window.location.href = "/#";'>
          <section class="Flex_Cadre">
            <img src="./assets/images/service.png" alt="Navigation Service" height="28%" width="28%">
            <div class="Flex_Text">
              <h3>Service</h3>
            </div>
          </section>
          <img class="button-arrow" src="./assets/images/suivant.png" alt="" height="25px">
        </button>
      </li>

    </ul>
  </nav>
</section>

<footer>
  <hr>
  <img src="./assets/images/model3-logo.png" alt="Model3 Title">
</footer>
</body>

</html>